* { /*remove to get rid of all borders*/
    /*outline: 1px solid black;*/
    font-family: 'Cardo', serif;
}

h1 {
  font-family: 'Diplomata SC', cursive;
  background-color: #F2E9E4;
}

h2, h3, h4, h5, header p, footer p, a {
  font-family: 'IM Fell Great Primer', serif;
}

h1, h2, h3 {
  padding: 2rem 0;
}

h4 {
  color: white;
  background-color: Olive;
  padding: .5rem;
}

h5 {
  color: brown;
}

body {
    /*background-color: #F2E9E4;*/
    color: #3C3744;
}

footer {
    background-color: #3C3744;
    color: #F2E9E4;
}

footer h3 {
    text-align: center;
}

footer a {
    color: #F2E9E4;
}

header p, footer p{
    /*font-family: 'IM Fell Great Primer', serif;*/
    font-size: 2rem;
    text-align: center;
}

ul {
    text-decoration: none;
    margin-bottom: 0;
}

ul li, .navbar-text {
    display: inline;
    font-size: 1.5em;
}

.navbar-text, a:hover {
  color: Brown;
}

.nav-link {
  display: inline;
  color: initial;
}

.col-12 {
  padding: 0;
}  

p.productDescription {
  font-style: italic;
  font-size: 1rem;
}

span.price {
  font-weight: bold;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

button.addToCart {
  position: relative;
  left: 0px;
  bottom: 15px;
}

.product-img {
  max-width: 100%;
  outline: 1px dashed grey;
  outline-offset: 5px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

#pointer-right,
#pointer-left {
  background-size: contain;
  background-repeat: no-repeat;
}

#pointer-left {
  background-image: url('../img/hand-left.jpg');
  background-position: right;
}

#pointer-right {
  background-image: url('../img/hand-right.jpg');
  background-position: left;
}

#carousel img {
    width: 1280px;
}

#carousel, #signUp {
    min-height: 400px;
}

#signUp {
    background-color: #F0DFAD;
    padding: 2rem;
    font-size: 1.5rem;
    margin: 2rem;
}

#map{
    text-align: center;
}

.saleRow {
    margin: 10px 0;
}

.saleRow .col-3{
    padding-top: 7px;
}

.saleRow p {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0;
}

.saleRow span {
    font-size: 0.8em;
    margin-right: 10px;
}

.crossedOut {
    text-decoration: line-through;
}

.saleImg {
    background-color: #FFF;
    width: 40px;
    height: 40px;
}

#infoCol .row{
    margin: 20px 0;
}

.plantNews p{
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0;
}

.plantNews span{
    text-align: left;
    font-size: 0.8em;
}

.plantNews div{
    margin-bottom: 10px;
}

input {
    width: 100%;
    border-radius: 10px;
}